<div class="container my-3">
    <header>
        @await Html.PartialAsync("../_Header.cshtml")
    </header>
    <div class="p-portfolio py-1 mb-3 shadow-sm">
        @await Html.PartialAsync("../_About.cshtml")
        @await Html.PartialAsync("../_WorkExperience.cshtml")
        @await Html.PartialAsync("../_Education.cshtml")
        @await Html.PartialAsync("../_Qualifications.cshtml")
        @await Html.PartialAsync("../_Skills.cshtml")
        @await Html.PartialAsync("../_Works.cshtml")
        @await Html.PartialAsync("../_AuthoredPublications.cshtml")
        @await Html.PartialAsync("../_CoAuthoredPublications.cshtml")
    </div>
</div>
