@{
    var model = Outputs.Get($"{Context.GetString("ProfileSources")}about.yml");
    var suffix = Document.GetLink().Contains("/ja/") ? "Ja" : "En";
    var name = model.GetString($"Name{suffix}");
    var comment = model.GetString($"Comment{suffix}");
}

<div class="card c-card m-3 shadow-sm">
    <div class="card-header c-card__header">ABOUT</div>
    <div class="card-body c-card__body">
        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>@name</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>
                    <a href="https://twitter.com/AconCavy">
                        <i class="fab fa-twitter"> AconCavy</i>
                    </a>
                </td>
            </tr>
            <tr>
                <th>GitHub</th>
                <td>
                    <a href="https://github.com/AconCavy">
                        <i class="fab fa-github"> AconCavy</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="card-text">
            @comment
        </p>
    </div>
</div>
