@{
    var isJapanese = Document.GetLink().Contains("/ja/");
}

<div class="dropdown mb-3 text-end">
    <button class="btn btn-primary c-button c-button--primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
        Language
    </button>

    <ul class="dropdown-menu c-dropdown__menu" aria-labelledby="dropdownMenuButton">
        <li>
            @if (isJapanese)
            {
                <a class="dropdown-item c-dropdown__item" href="@Context.GetLink("/en/portfolio.html")">English</a>
            }
            else
            {
                <a class="dropdown-item c-dropdown__item active" aria-current="page">English</a>
            }
        </li>
        <li>
            @if (isJapanese)
            {
                <a class="dropdown-item c-dropdown__item active" aria-current="page">Japanese</a>
            }
            else
            {
                <a class="dropdown-item c-dropdown__item" href="@Context.GetLink("/ja/portfolio.html")">Japanese</a>
            }
        </li>
    </ul>
</div>
