@{
    var isPortfolio = Document.GetLink().Contains("/portfolio");
}

<nav class="navbar navbar-expand-lg navbar-dark navbar-bg l-navbar__bg">
    <div class="container">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item l-nav__item">
                    @if (isPortfolio)
                    {
                        <a class="nav-link" href="@Context.GetLink("/")">Home</a>
                    }
                    else
                    {
                        <a class="nav-link active" aria-current="page">Home</a>
                    }
                </li>
                <li class="nav-item l-nav__item">
                    @if (isPortfolio)
                    {
                        <a class="nav-link active" aria-current="page">Portfolio</a>
                    }
                    else
                    {
                        <a class="nav-link" href="@Context.GetLink("/ja/portfolio")">Portfolio</a>
                    }
                </li>
                <li class="nav-item l-nav__item">
                    <a class="nav-link" href="https://blog.aconcavy.dev/">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
