@{
    var model = Outputs.Get($"{Context.GetString("ProfileSources")}skills.yml");
    var languages = model.GetString("ProgrammingLanguages");
    var frameworks = model.GetString("Frameworks");
    var tools = model.GetString("Tools");
    var environments = model.GetString("Environments");
}

<div class="card c-card m-3 shadow-sm">
    <div class="card-header c-card__header">SKILLS</div>
    <div class="card-body c-card__body">
        <table class="table">
            <tbody>
            <tr>
                <th>Programming Languages</th>
                <td>
                    @Html.Raw(languages)
                </td>
            </tr>
            <tr>
                <th>Frameworks</th>
                <td>
                    @Html.Raw(frameworks)
                </td>
            </tr>
            <tr>
                <th>Tools</th>
                <td>
                    @Html.Raw(tools)
                </td>
            </tr>
            <tr>
                <th>Environments</th>
                <td>
                    @Html.Raw(environments)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
