<div class="card c-card m-3 shadow-sm">
    <div class="card-header c-card__header">WORK EXPERIENCE</div>
    <div class="card-body c-card__body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                None
            </li>
        </ul>
    </div>
</div>
