@{
    var title = Model.GetTitle();
    var year = Model.GetDateTime("Published").Year;
    var link = Model.GetString("Link");
    var isJapanese = Document.GetLink().Contains("/ja/");
    var content = Model.GetString(isJapanese ? "LangJa" : "LangEn");
    var image = Model.GetString("Image");
    var imageLink = string.IsNullOrEmpty(image) ? string.Empty : Context.GetLink($"assets/images/{image}");
    var imageAlt = Model.GetString(isJapanese ? "ImageAltJa" : "ImageAltEn");
}

<div class="col-md">
    <div class="card c-card mb-3 shadow-sm h-100">
        <div class="card-body c-card__body">
            <h4 class="card-title">
                <a href="@link">@title (@year)</a>
            </h4>
            <p class="card-text">
                @Html.Raw(content)
            </p>
            @if (!string.IsNullOrEmpty(imageLink))
            {
                <img src="@imageLink" class="card-img-bottom" alt="@imageAlt">
            }
        </div>
    </div>
</div>
