<div class="container my-3 text-center">

    <img src="@Context.GetLink("assets/images/icon.svg")" class="p-index__icon c-image--center img-thumbnail rounded-circle mb-3" alt="icon">

    <h1 class="p-index__name mb-3">
        AconCavy
        <a href="https://twitter.com/AconCavy">
            <i class="fab fa-twitter c-icon--twitter"></i>
        </a>
        <a href="https://github.com/AconCavy">
            <i class="fab fa-github c-icon--github"></i>
        </a>
    </h1>

    <p class="p-index__tag mb-3">
        #developer #csharp #dotnet #unity
        #virtualreality #augmentedreality #xr #gamedev #algorithm
        #rust #python #pwsh #swift #cpp #javascript #sql
        #xamarin #aspnetcore #electron #flask
    </p>

</div>
